.container{
  background-image: url(https://myanimelist.cdn-dena.com/s/common/uploaded_files/1449736958-81bbb276d1af4d902069664b7c356418.jpeg);
}


.info-box{
  font-size: 36px;
}
#articuno{
  width: 200px;
}
